ion-view(title="首页")
	ion-content.life.life-home(padding="true")
		ion-refresher(pulling-text="释放刷新...",
			on-refresh="vm.pullRefresh()")
		ion-slide-box(auto-play="true",
			does-continue="true",
			slide-interval=3000)
			ion-slide
				img(src="img/广告横幅1.jpg")
			ion-slide
				img(src="img/广告横幅2.jpg")
			ion-slide
				img(src="img/广告横幅1.jpg")
			ion-slide
				img(src="img/广告横幅2.jpg")
		.navbtnbox
			.row
				.col.navbtn(ng-click="gotoUrl('#/cate')")
					img.navbtn-icon(src="img/图标美食.jpg")
					h5.navbtn-title 美食
				.col.navbtn()
					img.navbtn-icon(src="img/图标电影.jpg")
					h5.navbtn-title 电影
				.col.navbtn()
					img.navbtn-icon(src="img/图标酒店.jpg")
					h5.navbtn-title 酒店
				.col.navbtn()
					img.navbtn-icon(src="img/图标KTV.jpg")
					h5.navbtn-title KTV
			.row
				.col.navbtn()
					img.navbtn-icon(src="img/图标外卖.jpg")
					h5.navbtn-title 外卖
				.col.navbtn()
					img.navbtn-icon(src="img/图标娱乐.jpg")
					h5.navbtn-title 娱乐
				.col.navbtn()
					img.navbtn-icon(src="img/图标游戏.jpg")
					h5.navbtn-title 游戏
				.col.navbtn()
					img.navbtn-icon(src="img/图标休闲.jpg")
					h5.navbtn-title 休闲
		ion-list.padding(ng-repeat="store in vm.listdata", 
			ng-show="vm.listdata.length")
			ion-item
				h2
					strong {{store.name}}
				i.icon.ion-android-star(
					ng-repeat="star in store.star track by $index"
					ng-class="{'energized':star===1,'gray':star===0}")
				span.gray.font-size-12.padding-horizontal &nbsp;&nbsp;¥&nbsp;&nbsp;{{store.spend}}/人
				span.gray.font-size-12.padding-horizontal &nbsp;&nbsp;{{store.loc}}
				span.gray.font-size-12.padding-horizontal &nbsp;&nbsp;{{store.distance}}公里
			ion-item.item-thumbnail-left(
				ng-repeat="product in store.products",
				ng-show="store.products.length",
				ng-click="gotoUrl('#/productDetail/{{store.id}}/{{product.id}}')")
				img(ng-src="{{product.img}}")
				h3 {{product.name}}
				.row.marging-top
					.col
						span.assertive.font-size-24 ¥ {{product.currentPrice}}
						span.gray.font-size-16
							strike {{product.originPrice}}
					.col
						span.gray.font-size-16 已售 {{product.saledCount}}
		ion-infinite-scroll(ng-if="vm.isHasMoreData",
			on-infinite="vm.loadMoreData()")
